@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.libre-baskerville-text {
  font-family: 'Libre Baskerville', serif;
}

.libre-baskerville-text1 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Initial size */
    opacity: 0;
  }
  50% {
    transform: scale(1.2); /* Zoom in */
    opacity: 1;
  }
  100% {
    transform: scale(0.2); /* Zoom out (smaller) */
    opacity: 0;
  }
}

.zoomInOut {
  animation: zoomInOut 1s ease-in-out infinite; /* Adjusted to 1.5s for faster animation */
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
}
